<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- Talks to the ModaHouse REST API. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- image_picker: taking a photo with the camera. The plugin asks for this
         permission at runtime because it is declared here. -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- image_picker: reading photos on Android 12 and older. Android 13+ uses the
         system Photo Picker, which needs no permission. -->
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <!-- The camera is optional: the gallery works without it. -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <!--
        usesCleartextTraffic="true" allows plain http:// development servers
        (e.g. http://10.0.2.2:8080 or http://192.168.x.x:8080).
        PRODUCTION: remove it and serve the API over https://, or restrict cleartext
        to specific hosts with android:networkSecurityConfig
        (res/xml/network_security_config.xml).
    -->
    <application
        android:label="ModaHouse"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>

    <!-- Package visibility (Android 11+): text processing, opening pin links
         (url_launcher), taking photos (image_picker) and sharing (share_plus). -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="https" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
